:root{
  --white: #fff;
  --gray-200: #D8DFE8;
  --light-blue-100: #D8DFE8;
  --dark-blue-300: #0A3871;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

html{
  font-size: 62.5%;
}

main{
  display:flex;
  flex: wrap;
  gap: 5rem;
  height: 100vh;
  width: 100vw;
  padding: 3rem 2.5rem;
  background-color: var(--light-blue-100);
}

.logo__container{
  flex: 1;
  background: red;
}

section{
  flex: 6;
  padding-bottom: 2rem;
  background: #5f5d5d;
}

.input__container{
  height: 90%;
}

textarea{
  color: var(--dark-blue-300);
}

textarea::placeholder{
  color: var(--dark-blue-300)
}

/* For Internet Explorer */
textarea:-ms-input-placeholder {
  color: var(--dark-blue-300) 
}

/* For Firefox */
textarea::-moz-placeholder {
  color: var(--dark-blue-300)
}

/* For other browsers */
textarea::-webkit-input-placeholder {
  color: var(--dark-blue-300)
}

.buttons__container{
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
}

.buttons__container button{
  padding: 1.3rem 7.5rem;
  border-radius: 1rem;
}

.btn-1{
  background-color: #0A3871;
  color: var(--white);
  border: 1px solid var(--dark-blue-300);
}

.btn-2{
  background-color: var(--gray-200);
  color: var(--dark-blue-300);
  border: 1px solid var(--dark-blue-300);
}

aside{
  flex:2;
  background-color: var(--white);
  border-radius: 2rem;
}