:root{
  --white: #fff;
  --gray-100: #CED4DA;
  --gray-200: #D8DFE8;
  --gray-300: #868E96;
  --gray-400: #495057;
  --gray-500: #343A40;
  --light-blue-100: #F3F5FC;
  --dark-blue-100: #609ED4;
  --dark-blue-200:#356EA9;
  --dark-blue-300: #0A3871;
  --dark-blue-400: #072B61;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Inter', sans-serif;
}

html{
  font-size: 62.5%;  
  background-color: var(--light-blue-100);
  overflow: hidden;
}

main{
  display:flex;
  flex: wrap;
  gap: 2rem;
  height: 95vh;
  width: 100vw;
  padding: 3rem 10rem;
}

.logo__container{
  flex: 2;
}

section{
  flex: 6;
  display: flex;
  flex-direction: column;
}

.input__container{
  height: 90%;
  display: flex;
  align-items: end;
}

textarea{
  height: 80%;
  color: var(--dark-blue-300);
  background: none;
  resize: none;
  border: none;
  outline: none;
  width: 100%;
  font-size: 3rem;
}

textarea::placeholder{
  color: var(--dark-blue-300)
}

/* For Internet Explorer */
textarea:-ms-input-placeholder {
  color: var(--dark-blue-300) 
}

/* For Firefox */
textarea::-moz-placeholder {
  color: var(--dark-blue-300)
}

/* For other browsers */
textarea::-webkit-input-placeholder {
  color: var(--dark-blue-300)
}

.actions__container p{
  color: var(--gray-400);
  font-size: 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.actions__container p span{
  margin-right: 0.5rem;  
}

.actions__container p span img{
  width: 1.3rem;
}

.buttons__container{
  display: flex;
  gap: 2rem;
  align-items: center;
}

.buttons__container button{
  flex: 1;
  padding: 1.5rem ;
  border-radius: 1.5rem;
}

.buttons__container button:hover{
  cursor: pointer;
}

.btn-1{
  background-color: #0A3871;
  color: var(--white);
  border: 1px solid var(--dark-blue-300);
}

.btn-1:hover{
  background-color: var(--dark-blue-200);
}

.btn-2{
  background-color: var(--gray-200);
  color: var(--dark-blue-300);
  border: 1px solid var(--dark-blue-300);
}

.btn-2:hover{
  background-color: var(--gray-100);
}

aside{
  padding: 3rem;
  flex:2;
  background-color: var(--white);
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  color:var(--gray-400);
  font-size: 2rem;
}

aside img{
  object-fit: cover;
  width: 100%;
}

.aside__text{
  text-align: center;
  margin-top: 3rem;
}

.aside__text p:first-child{
  color: var(--gray-500);
  font-size: 2rem;
  font-weight: 800;
}

.aside__text p:last-child{
  color: var(--gray-400);
  font-size: 1.5rem;
  margin-top: 1rem;
}

.aside__paragraph--new{
  margin-top: 1rem;
  cursor: pointer;
}
.aside__paragraph--new:hover{
  text-decoration: underline;
}

footer{  
  width: 100%;
  font-size: 1.7  rem;
  text-align: center;
}

@media(max-width: 1024px) {
  main {
    padding: 3rem 5rem;
  } 
}

@media(max-width: 768px) {
  html{
    overflow: visible;
  }
  main {
    flex-direction: column;    
    padding: 4rem;
    height: 100%;
  }

  .logo__container img{
    position: relative;
    left: -4rem;
  }

  textarea{
    margin-top: 0;
    height: 50vh;
  }

  textarea::onFocus{

  }

  aside{
    padding: 3.5rem;
  }

  aside img{
    display: none;
  }

  .aside__text{
    margin-top: 0;
  }
}

@media(max-width: 425px){

  main{
    padding: 2rem;
  }

  .logo__container img{
    position: relative;
    left: -4rem;
    width: 10rem;
  }

  textarea{
    margin-top: 2rem;
    font-size: 2.5rem;
  }

  .actions__container p{
    font-size: 0.9rem;
  }

  .actions__container p span img{
    width: 1rem;
  }

  .buttons__container{
    flex-direction: column;
  }
  .buttons__container button{
    width: 100%;
  }
}